<div class="row">
    <div class="col s3"></div>
    <div class="col s6">
        <div id="div-pedido">
            Código Do Pedido: {{pedido['id']}} <br>
            Código Do Cliente: {{pedido['cliente']['id']}} <br>
            Nome Do Cliente: {{pedido['cliente']['nome']}} <br>

            Produtos <br>
            <ul *ngFor="let produto of pedido['produtos']">
                <li>
                    <p>
                        Código Do Produto: {{produto.id}} <br>
                        Nome: {{produto.nome}} <br>
                        Preço: {{produto.preco}} <br>
                        Descrição: {{produto.descricao}} <br>
                        Quantidade: {{produto.quantidade}} <br>
                    </p>
                </li>
            </ul>

            Data Da Compra: {{pedido['dataDaCompra'] | date: 'dd/MM/yyyy'}} <br>
            Total Da Compra: {{pedido['totalDaCompra']}} <br>
            </div>
    </div>
    <div class="col s3"></div>
</div>