div#pdt {
    background-color: lightgray;
    border-radius: 20px;
}

p {
    margin-left: 10px;
}

p#p-carrinho {
    color: tomato;
}

div#loading {
    text-align: center;
}

#btn-cart {
    margin-left: 5px;
}

div#bloco-botoes {
    margin-top: -10px;
}