<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['/']" class="brand-logo active"><i class="material-icons">home</i>Home</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [routerLink]="['/cliente']" >Cliente</a></li>
      <li><a [routerLink]="['/produto']" >Produto</a></li>
      <li><a [routerLink]="['/pedido']" >Pedido</a></li>
      <li><a [routerLink]="['/clientes']" >Todos Os Clientes</a></li>
      <li><a [routerLink]="['/produtos']" >Todos Os Produto</a></li>
      <li><a [routerLink]="['/pedidos']" >Todos Os Pedido</a></li>
    </ul>
  </div>
</nav>